body {
    margin: 0;
    padding: 0;
}

nav {
    border: 1px solid black;
    height:50px;
    margin-bottom: 50px;
}

.container {
    border: 1px solid black;
}

.chart {
    border: 1px solid black;
    /*height: 300px;*/
    margin: 25px 10px;
}

.chart-left img{
    width: 100%;
}

.chart-right .innerbox {
    margin: 20px;
    border: 1px solid black;
}

.chart-right .innerbox h2 {
    margin: 5px;
}

.chart-right .innerbox ul {
    padding: 5px;
}

.chart-right .innerbox ul li {
    list-style: none;
}

.chart-right .dropdown {
    margin: 0 20px 5px ;
    /*bottom: -60px;*/
}

/*MediaQueries*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



    .chart-left {
        float: left;
    }




    .chart-right {
        float: right;
    }


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /*.chart-left, .chart-right {*/
        /*float: none;*/
    /*}*/
}