body {
    margin: 0;
    padding: 0;
}

nav {
    border: 1px solid black;
    height:50px;
    margin-bottom: 50px;
}

.container {
    border: 1px solid black;
}

.chart {
    border: 1px solid black;
    height: 300px;
    margin: 25px 10px;
}

.chart-left {
    background-image: url("../images/grafiek1.png");
}

.chart-right {
    float: right;
}

.chart-right .innerbox {
    margin: 20px;
    border: 1px solid black;
}

.chart-right .innerbox h2 {
    margin: 5px;
}

.chart-right .innerbox ul {
    padding: 5px;
}

.chart-right .innerbox ul li {
    list-style: none;
}



